modules = ["nodejs-20", "c-clang14", "web"]
run = "npx http-server src"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx http-server src"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 41006075
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
